body {
    background: red;
  }
  
  button {
    background: cyan;
  }
  
  .value-cell {
    display: inline-block;
    min-width: 2%;
  }
  
  .row-column-names {
    display: flex;
    justify-content: space-around;
  }
  
  /* .row-song {
    display: flex;
    justify-content: space-between;
  } */
  
  .update-songs {
    display: flex;
    justify-content: space-around;
  }
  
